<h1>Name: <%= @artist.name %></h1>
<h2>Date of Birth: <%= @artist.birth_date %></h2>
<h2>Country of Origin: <%= @artist.country_of_origin %></h2>

<% @artist.songs.each do |song| %>

<h1><%= song.title %></h1>
<h2><%= song.duration %></h2>

<% end %>
